#global {
	width: 700px;
	height: 1000px;
	overflow-y: auto;
	margin-bottom: 12px;;
	border: 1px solid #ddd;
    margin:20px 20px 20px 20px;
	float:right;
	padding: .5em;
}
#mensajes {
	height: auto;
}
.texto {
	padding:.3em;
	background:#fff;
}
section {
	float:left;
	margin-left: 30px;
    text-align: auto;
	
}
h1 {
	margin-left: 30px;
}

button {
	width: 300px;
	height: 40px;
	margin-left: 30px;
    box-shadow: 5px 5px 5px 8px;
	color: gray;
	background-color: white;
   
}
























































































































































